@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

/* when defining theme variables that reference other variables, use the inline option */
@theme inline {
  --font-ubuntu: var(--font-ubuntu);
  --font-kanit: var(--font-kanit);
}

body {
  padding: 2rem;
}
